.heading-section {padding: 10px 0; margin-bottom: 1rem; position: relative; }
h4.heading-title {font-size: 16px;font-weight: 600;margin: 0;padding: 0;}
.btn-option-info{margin-left: auto;}
a.btn-gr {background: #92b116; padding: 8px 20px; display: inline-block; font-size: 12px; color: #fff; border-radius: 50px; text-transform: uppercase; font-weight: bold; }
a.btn-ye {background: #f39323; padding: 8px 20px; display: inline-block; font-size: 12px; color: #fff; border-radius: 50px; text-transform: uppercase; font-weight: bold; }


.user-table-card table{border: none;}
 .user-table-card .table>:not(:first-child) {border-top: 1px solid #26231a; }
.user-table-card table thead{}
.user-table-card table tr th {font-size: 14px;font-weight: 600;color: #455A64;padding: 8px;border-top:none;border-bottom: 1px solid #00ee57 !important;}
.user-table-card table tr td {vertical-align: middle;font-size: 14px;font-weight: 500;color: #8C9AA1;padding: 8px;border-bottom: 1px solid #eaeaea;}
.sno {background: #8c9aaa14;width: 30px;height: 30px;display: inline-block;text-align: center;line-height: 30px;font-size: 14px;font-weight: 600;border-radius: 5px;color: #03002b;}

.user-table-card{position: relative;border-radius: 10px;padding: 20px;box-shadow: 0px 0px 17px 3px rgb(0 0 0 / 10%);background: #fff;}
.user-table-info {display: flex; align-items: center; }
.user-table-media {width: 40px;height: 40px;display: block;background: #ff9d18;border-radius: 50%;overflow: hidden;}
.user-table-media img {width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; }
.user-table-value {margin-left: 15px; }
.user-table-value h2 {font-size: 14px;font-weight: 600;color: #8C9AA1;margin: 0;padding: 0;} 
.date-text {font-size: 12px;font-weight: 500;margin: 0;padding: 0 0 0 10px;color: #85837b;font-style: italic;}
span.rating-text {color: #fc0; }

.search-filter input.form-control {background: #fff;border-radius: 5px;font-size: 13px;border: 1px solid #fff;font-weight: 400;height: auto;padding: 12px 15px;box-shadow: 0 5px 13px rgb(240 240 241 / 46%);outline: 0;width: 100%;display: inline-block;color: #455A64;}
.search-filter select.form-control {background: #fff;border-radius: 5px;font-size: 14px;border: 1px solid #fff;font-weight: 400;height: auto;padding: 13px 10px;box-shadow: 0px 0px 17px 3px rgb(0 0 0 / 10%);outline: 0;width: 100%;color: #455A64;appearance: revert;}
.search-filter textarea.form-control {background: #fff; border-radius: 5px; font-size: 14px; border: 1px solid #fff; font-weight: 400; height: auto; padding: 0.8rem 0.94rem; box-shadow: 0 5px 13px rgb(240 240 241 / 46%); outline: 0; width: 100%; display: inline-block; color: #455A64; }
.search-filter .form-control:focus {border: 1px solid #29913c; }

.search-form-group{position: relative;}
.search-form-group input.form-control {position: relative;color:#fff;border-radius: 5px;font-weight: 400;font-size: 13px;box-sizing: border-box;padding: 12px 15px 12px 50px;border: 1px solid #fff;width: 100%;box-shadow: 0px 0px 17px 3px rgb(0 0 0 / 10%);}
.search-form-group span.search-icon {position: absolute;top: 50%;left: 15px;pointer-events: none;transform: translateY(-50%) scaleX(-1);color: #ffcc00;font-size: 18px;}

a.Approve-User-btn {text-align: center;border-radius: 5px;padding: 10px 20px;color: #fff;font-size: 14px;font-weight: 500;background: #00ee57;box-shadow: 0px 8px 13px hsl(142deg 100% 47% / 7%);display: inline-block;width: 100%; text-decoration: none;}
a.View-Inactive-btn{text-align: center;border-radius: 5px;padding: 10px 20px;color: #fff;font-size: 14px;font-weight: 500;background: #ff0a32;box-shadow: 0px 8px 13px hsl(350deg 100% 52% / 7%);display: inline-block;width: 100%; text-decoration: none;}

a.Approve-User-btn:hover{text-decoration: none; color: #fff;}
a.View-Inactive-btn:hover{text-decoration: none; color: #fff;}

a.Back-btn {font-size: 16px; color: #00ee57; }

.user-profile-section {margin-bottom: 0;/* border-bottom: 1px solid #eee; */padding: 1rem;/* border-top: 1px solid #eee; */background: #fff;}
.user-side-profile{border-radius: 15px;padding: 10px;box-shadow: 0px 8px 13px rgb(0 0 0 / 5%);background: #fff;position: relative;}
.side-profile-item {padding: 0 0 0rem 0;display: flex;align-items: center;} 
.side-profile-text h2 {font-size: 16px;font-weight: 600;margin: 0 0 5px 0;padding: 0;color: #263238;}
.side-profile-text p {font-size: 13px;margin: 0;color: #8C9AA1;line-height: 24px;font-weight: normal;}
.side-profile-media {width: 75px;height: 75px;position: relative;overflow: hidden;border-radius: 50%;border: 4px solid #dbfde7;margin: 0 10px 0 0;}
.side-profile-media img {object-fit: cover; width: 100%; height: 100%; }

.user-contact-info{position: relative;width: 100%;border-radius: 0;padding: 18px 0;display: flex;align-items: center;margin-bottom: 0rem;}
.user-contact-info-content h2 {font-size: 13px;font-weight: 600;margin: 0;padding: 0;color: #212529;}
.user-contact-info-content p {font-size: 12px;margin: 0;color: #8C9AA1;line-height: 24px;font-weight: normal;}
.user-contact-info-icon {width: 40px;height: 40px;margin-right: 10px;line-height: 40px;}
.user-contact-info-icon img {height: 32px;}
a.blocked-btn {background: #fff;color: #ff0a32;padding: 1px 12px;border-radius: 4px;display: inline-block;font-size: 12px;font-weight: 500;border: 1px solid #ff0a32;}
a.blocked-btn:hover{color: #ff0a32;}
a.user-active-btn {background: #fff;color: #00ee57;padding: 1px 12px;border-radius: 4px;display: inline-block;font-size: 12px;font-weight: 500;border: 1px solid #00ee57;}
a.user-active-btn:hover{color: #00ee57;}

.my-order-tabs{margin-bottom: 1rem;background: #e9e9ff;padding: 0;border-radius: 0;text-align: center;}
.my-order-tabs .nav.nav-tabs {border: none;display: inline-block;position: relative;}
.my-order-tabs .nav.nav-tabs li{display: inline-block; position: relative;}
.my-order-tabs .nav.nav-tabs li a{border-bottom: 2px solid transparent;display: flex;align-items: center;padding: 15px;font-weight: 500;font-size: 16px;line-height: 23px;
/* identical to box height */text-align: center;letter-spacing: -0.3px;color: #03002b;}
.my-order-tabs .nav.nav-tabs li a.active{border-bottom: 2px solid #00ee57;color: #00ee57;font-weight: 500;}

.stockoptions-header {display: flex; align-items: center; justify-content: space-between; margin-bottom: 1rem }

.stockoptions-filter{margin-bottom: 0;text-align: right;/* background: #fff; *//* padding: 10px; */}
.stockoptions-filter input.form-control {background: #fff;border-radius: 5px;font-size: 13px;border: 1px solid #fff;font-weight: 400;height: auto;padding: 9px 15px; box-shadow: 0px 0px 17px 3px rgb(0 0 0 / 10%); outline: 0;width: 100%;display: inline-block;color: #455A64;}
.stockoptions-filter select.form-control {background: #fff;border-radius: 5px;font-size: 14px;border: 1px solid #ffffff;font-weight: 400;height: auto;padding: 9px 10px; box-shadow: 0px 0px 17px 3px rgb(0 0 0 / 10%); outline: 0;width: 100%;color: #455A64;appearance: revert;}
.stockoptions-filter textarea.form-control {background: #fff; border-radius: 5px; font-size: 14px; border: 1px solid #fff; font-weight: 400; height: auto; padding: 0.8rem 0.94rem; box-shadow: 0 5px 13px rgb(240 240 241 / 46%); outline: 0; width: 100%; display: inline-block; color: #455A64; }
.stockoptions-filter .form-control:focus {border: 1px solid #00ee57; box-shadow: none;}

.search-form-group{position: relative;}
.search-form-group input.form-control {position: relative;color:#fff;border-radius: 5px;font-weight: 400;font-size: 13px;box-sizing: border-box;padding: 9px 15px 9px 40px;border: 1px solid #ffffff;width: 100%;box-shadow: 0px 0px 17px 3px rgb(0 0 0 / 10%);}
.search-form-group span.search-icon {position: absolute;top: 50%;left: 15px;pointer-events: none;transform: translateY(-50%) scaleX(-1);color: #ffcc00;font-size: 18px;}




.stockoptions-item {background: #FFFFFF;box-shadow: 0px 0px 17px 3px rgb(0 0 0 / 10%);border-radius: 20px;position: relative;margin-bottom: 1rem;}

.shares-comp-info {display: flex; align-items: center; padding: 15px; }
.shares-comp-image {background: #FFFFFF; box-shadow: 0px 1px 13px rgb(213 243 224 / 36%); width: 50px; height: 50px; border-radius: 50%; position: relative; overflow: hidden; margin-right: 10px; }
.shares-comp-image img {position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; max-width: 100%; max-height: 100%; }
.shares-comp-name {font-weight: 500;font-size: 15px;line-height: 16px;color: #455A64;margin: 0 0 10px 0;}
.shares-value {font-weight: 500;font-size: 13px;line-height: 14px;color: #00EE57;}


.stockoptions-head {display: flex;justify-content: space-between;padding: 12px 15px 6px 15px;align-items: center;}
.byusell-option {font-weight: 400;font-size: 16px;line-height: 19px;color: #455A64;position: relative;padding: 0 0 0 15px;}
.byusell-option:before {content: ''; position: absolute; left: 0; width: 10px; height: 10px; border-radius: 50px; background: #455A64; top: 3px; }
.buy-opt{color:#00EE57;}
.buy-opt:before{background:#00EE57;}
.sell-opt{color:#FF0A32;}
.sell-opt:before{background:#FF0A32;}
.stockoptions-msg-text {font-weight: 500;font-size: 14px;line-height: 19px;text-align: right;color: #455A64;}


.stockoptions-foot {border: 1px solid #F5F5F5; padding: 15px; display: flex; align-items: center; justify-content: space-between; }
.stockoptions-up-down {display: flex;align-items: center; }
.stockup, 
.stockdown{font-weight: 500; font-size: 14px; color: #455A64; margin-right: 20px; }
.stockup i {background: #00EE57; border-radius: 3px; width: 20px; height: 20px; text-align: center; line-height: 20px; color: #fff; font-size: 14px; position: relative; margin-right: 5px }
.stockdown i {background: #FF0A32; border-radius: 3px; width: 20px; height: 20px; text-align: center; line-height: 20px; color: #fff; font-size: 14px; position: relative; margin-right: 5px }
.stockoptions-date {font-weight: 400; font-size: 13px; line-height: 15px; text-align: right; color: #8C9AA1; }
.stockoptions-body {display: flex; justify-content: space-between; }

.club-info-box{border-radius: 20px;/* background: #FFFFFF; *//* box-shadow: 0px 8px 13px rgb(0 137 207 / 10%); *//* padding: 10px; */position: relative;}
.club-info-box h3{font-weight: 600;font-size: 18px;line-height: 21px;color: #03002b;margin: 0 0 5px;padding: 0;}
.club-info-box h5{font-weight: 500;font-size: 16px;line-height: 21px;color: #455A64;margin: 0;padding: 0;}
.club-info-box h5 span.st-text{font-size: 14px;padding-left: 15px;}
.club-info-box h5 span.stdown{color:#FF0A32;}
.club-info-box h5 span.stup{color:#00EE57;}


.clubs-card {background: #FFFFFF;border-left: 3px solid #00EE57;box-shadow: 0px 0px 17px 3px rgb(0 0 0 / 10%);border-radius: 20px;padding: 1.5rem;position: relative;margin-bottom: 1rem;}
.clubs-card-head {display: flex; justify-content: space-between; margin-bottom: 10px; } 
.clubs-name {position: relative; padding: 0 0 0 15px; font-weight: 600; font-size: 15px; line-height: 16px; color: #455A64; }
.clubs-name:before {content: '';position: absolute;left: 0;width: 10px;height: 10px;background: #00ee57;top: 3px;}

.clubs-value {font-weight: 400; font-size: 16px; line-height: 19px; text-align: right; color: #00EE57; }
.clubs-card-body {display: flex; align-items: center; } 
.clubs-card-image {position: relative;display: flex;align-items: center;width: 60px;margin-right: 10px;} 
.userImg {background: #FFFFFF;box-shadow: 0px 1px 13px rgb(213 243 224 / 36%);width: 35px;height: 35px;border-radius: 50%;position: relative;overflow: hidden;margin-right: -24px;}
.userImg img {position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; max-width: 100%; max-height: 100%; }
.clubs-card-user-name h4 {font-weight: 500; font-size: 13px; line-height: 14px; color: #455A64; padding: 0; margin: 0; }

.clubs-card-action {position: absolute;right: 24px;bottom: 22px;display: none;}
.clubs-card:hover .clubs-card-action{display: block;}

.clubs-card-action a{background: #00EE57;box-shadow: 0px 13px 20px rgb(0 238 87 / 20%);border-radius: 5px;padding: 6px 20px;font-weight: 500;font-size: 13px;line-height: 20px;text-align: center;letter-spacing: 0.1px;color: #FFFFFF;display: inline-block;width: 100%;}
.re-card{border-left: 3px solid #FF0A32;}
.re-card .clubs-name:before{background: #FF0A32;}
.re-card .clubs-value{color:#FF0A32;}
.re-card .clubs-card-action a{background: #FF0A32; box-shadow:  0px 13px 20px rgba(255, 10, 50, 0.2);}


.managerclubs-item-card{background: #FFFFFF;box-shadow: 0px 8px 13px rgba(0, 137, 207, 0.1);border-radius: 10px;position: relative;padding: 0;margin-bottom: 1rem;}
.managerclubs-card-content{padding: 1rem;}

.managerclubs-card{display: flex;padding: 10px 0;}
.managerclubs-card-image {background:#040B29; box-shadow: 0px 1px 13px rgb(213 243 224 / 36%); width: 50px; height: 50px; border-radius: 50%; position: relative; overflow: hidden; margin-right: 10px; }
.managerclubs-card-image img {position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; max-width: 100%; max-height: 100%; }
.managerclubs-card-text{flex: 1;}
.managerclubs-card-text h5 {margin: 0 0 8px 0;font-weight: 500;font-size: 15px;line-height: 16px;color: #455A64;padding: 0;}
.managerclubs-card-text p {margin: 0 0 8px 0;font-weight: 500;font-size: 13px;line-height: 16px;color: #00ee57;}
.portfolio-text {font-weight: 500;font-size: 14px;line-height: 14px;color: #8C9AA1;}
.portfolio-text span{font-weight: 500; color: #455A64; }
.manstock{margin-right: 0;}

.leaderboard-card{display: flex;align-items: center;padding: 10px;background: #fff;border-radius: 10px;border: 1px solid #e9e9ff;box-shadow: 4px 4px 0 #f6f6ff;}
.leaderboard-card-image {background: #040B29;width: 50px;height: 50px;border-radius: 50%;position: relative;overflow: hidden;margin-right: 10px;border: 1px solid #fff;}
.leaderboard-card-image img {position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; max-width: 100%; max-height: 100%; }
.leaderboard-card-text{flex: 1;margin: 0;font-weight: 500;font-size: 15px;line-height: 16px;/* color: #fff; */padding: 0;}
.leaderboard-card-value{margin: 0;font-weight: 500;font-size: 15px;line-height: 16px;/* color: #fff; */padding: 0;}
.managerclubs-card-action {text-align: center; margin-top: 10px; padding: 10px; background: #e8fff0; border-radius: 0 0 10px 10px; }
.managerclubs-card-action a{font-weight: 500;font-size: 15px;line-height: 20px;text-align: center;letter-spacing: 0.1px;color: #00EE57;display: inline-block;}
.managerclubs-card-action a:hover{color: #00EE57;}

.club-detail-header {display: flex; align-items: center; justify-content: space-between; margin-bottom: 1rem; }

a.proposalsbtn {background: #00EE57;box-shadow: 0px 13px 20px rgb(0 238 87 / 20%);border-radius: 5px;padding: 10px 15px;font-weight: 500;font-size: 14px;line-height: 20px;text-align: center;letter-spacing: 0.1px;color: #FFFFFF;display: inline-block;width: 100%;}
a.tradehistorybtn {background: #00EE57;box-shadow: 0px 13px 20px rgb(0 238 87 / 20%);border-radius: 5px;padding: 10px 15px;font-weight: 500;font-size: 14px;line-height: 20px;text-align: center;letter-spacing: 0.1px;color: #FFFFFF;display: inline-block;width: 100%;}
a.infobtn {border-radius: 5px;padding: 10px 15px;font-weight: 500;font-size: 14px;line-height: 20px;text-align: center;letter-spacing: 0.1px;color: #FFFFFF;display: inline-block;background: #FF0A32;box-shadow: 0px 13px 20px rgba(255, 10, 50, 0.2);width: 100%;}

a.proposalsbtn:hover{color: #fff}
a.tradehistorybtn:hover{color: #fff}
a.infobtn:hover{color: #fff}

.club-comp-share-card{background: #FFFFFF;justify-content: space-between;border: 1px solid #fff;box-shadow: 0px 8px 13px rgb(0 137 207 / 10%);border-radius: 20px;display: flex;align-items: center;padding: 1rem;margin-bottom: 1rem;}
.downshare-card{border: 1px solid #FF0A32;}
.upshare-card{border: 1px solid #00EE57;}

.club-comp-info {display: flex;align-items: center;padding: 0;}
.club-comp-image {background: #FFFFFF;box-shadow: 0px 1px 13px rgb(213 243 224 / 36%);width: 60px;height: 60px;border-radius: 50%;position: relative;overflow: hidden;margin-right: 10px;}
.club-comp-image img {position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; max-width: 100%; max-height: 100%; }
.club-comp-text h3{font-weight: 500;font-size: 16px;line-height: 19px;color: #455A64;margin: 0 0 10px 0;padding: 0;}
.club-comp-text p{font-weight: 500;font-size: 12px;line-height: 14px;margin: 0;}
.downshare-card .club-comp-text p{color:#FF0A32}
.upshare-card .club-comp-text p{color:#00EE57}
.shares-value-text{font-weight: 400;font-size: 14px;line-height: 19px;text-align: right;color: #455A64;}

.club-chart-card {background: #FFFFFF; box-shadow: 0px 8px 13px rgb(0 137 207 / 10%); border-radius: 20px; position: relative; margin-bottom: 1rem; padding:20px 20px 20px 20px; }




.managers-card{background: #FFFFFF;box-shadow: 0px 8px 13px rgba(0, 137, 207, 0.1);border-radius: 10px;position: relative;margin-bottom: 1rem;display: flex;padding: 1rem;align-items: center;}
.managers-card-image {background: #fff;box-shadow: 0px 1px 13px rgb(213 243 224 / 36%);width: 60px;height: 60px;border-radius: 50%;position: relative;overflow: hidden;margin-right: 10px;}
.managers-card-image img {/* position: absolute; *//* left: 0; *//* right: 0; *//* top: 0; *//* bottom: 0; *//* margin: auto; */width: 100%;height: 100%;object-fit: cover;}
.managers-card-text{flex: 1;}
.managers-card-text h5 {margin: 0 0 8px 0;font-weight: 500;font-size: 16px;line-height: 16px;color: #455A64;padding: 0;}
.managers-card-text p {margin: 0 0 8px 0;font-weight: 500;font-size: 13px;line-height: 16px;color: #00ee57;}
.managers-card-action a{background: #00EE57;box-shadow: 0px 13px 20px rgb(0 238 87 / 20%);border-radius: 5px;padding: 10px 15px;font-weight: 500;font-size: 14px;line-height: 20px;text-align: center;letter-spacing: 0.1px;color: #FFFFFF;display: inline-block;width: 100%;}
.managers-card-action a:hover{color: #fff;}


.club-profit-funds-overview {margin-bottom: 1rem; position: relative; padding: 10px 0; } 
.profit-funds-item{background: #00EE57;box-shadow: 0px 8px 13px rgba(0, 137, 207, 0.1);border-radius: 10px;padding: 1rem;position: relative;overflow: hidden;}
.profit-funds-shape{position: relative;}
.profit-funds-shape:before{content: '';position: absolute;left: -52px;width: 80px;height: 80px;border: 10px solid rgb(255 255 255 / 20%);border-radius: 50%;top: -45px;}
/* .profit-funds-shape:after {content: '';position: absolute;right: 0;width: 110px;height: 93px;border-radius: 50%;top: -23px;background: url(./images/admin/CurrencyDollarSimple.svg);} */
.bg-profit-funds{background: #FF0A32; box-shadow: 0px 8px 13px rgba(0, 137, 207, 0.1); border-radius: 10px;}
.profit-funds-content p{font-weight: 400;font-size: 13px;line-height: 15px;color: #FFFFFF;margin-bottom: 10px;}
.profit-funds-content h4{font-weight: 500;font-size: 16px;line-height: 19px;color: #FFFFFF;padding: 0;margin: 0;}

.club-info-user-list {padding: 10px 0;position: relative;}
.club-info-user-list h2 {font-weight: 500; font-size: 18px; line-height: 100%; letter-spacing: -0.01em; color: #455A64; margin: 0 0 1rem 0; padding: 0; }
.club-info-user-item {background: #FFFFFF;border: 1px solid #D5F3E0;border-radius: 8px;display: flex;align-items: center;margin-bottom: 5px;padding: 5px;}
.club-info-user-item-image{background: #fff;box-shadow: 0px 1px 13px rgb(213 243 224 / 36%);width: 50px;height: 50px;border-radius: 50%;position: relative;overflow: hidden;margin-right: 10px;}
.club-info-user-item-image img {/* position: absolute; *//* left: 0; *//* right: 0; *//* top: 0; *//* bottom: 0; *//* margin: auto; */width: 100%;height: 100%;object-fit: cover;}
.club-info-user-item-text{flex: 1;}
.club-info-user-item-text h3{margin: 0;font-weight: 500;font-size: 14px;line-height: 16px;color: #455A64;padding: 0;}

.percentages-info-content {background: #FFFFFF; border-radius: 10px; position: relative; margin-bottom: 1rem; padding: 1rem; border: 1px solid #f5f5f5; }
.percentages-info-section h2 {font-weight: 500; font-size: 18px; line-height: 100%; letter-spacing: -0.01em; color: #455A64; margin: 0 0 1rem 0; padding: 0; }
.percentages-stakes-head {background: #00EE57;box-shadow: 0px 8px 13px rgb(0 137 207 / 10%);border-radius: 4px;padding: 12px;display: flex;align-items: center;justify-content: space-between;}
.percentages-stakes-th-name{font-weight: 500;font-size: 14px;line-height: 126%;text-align: justify;letter-spacing: -0.01em;color: #fff;flex: 1;}
.percentages-stakes-th-value{font-weight: 500;font-size: 14px;line-height: 126%;text-align: justify;letter-spacing: -0.01em;color: #fff;margin-right: 30px;}
.percentages-stakes-th-pervalue{font-weight: 500; font-size: 14px; line-height: 126%; text-align: justify; letter-spacing: -0.01em; color: #fff; }


.percentages-stakes-item {display: flex;align-items: center;padding: 10px 0;width: 100%;justify-content: space-between;border-bottom: 1px solid #F5F5F5;} 
.percentages-stakes-name {font-weight: 500;font-size: 14px;line-height: 126%;text-align: justify;letter-spacing: -0.01em;color: #455A64;flex: 1;}
.percentages-stakes-value {font-weight: 500;font-size: 14px;line-height: 126%;text-align: justify;letter-spacing: -0.01em;color: #8C9AA1;margin-right: 30px;}
.percentages-stakes-pervalue {font-weight: 500; font-size: 14px; line-height: 126%; text-align: justify; letter-spacing: -0.01em; color: #00EE57; }

.group-info-section{margin-bottom: 1rem; position: relative;}
.group-info-section h2 {font-weight: 500; font-size: 18px; line-height: 100%; letter-spacing: -0.01em; color: #455A64; margin: 0 0 1rem 0; padding: 0; }
.group-info-list {background: #FFFFFF; border-radius: 10px; position: relative; margin-bottom: 1rem; padding: 1rem; border: 1px solid #f5f5f5; } 
.group-info-item {display: flex; align-items: center; padding: 10px 0; width: 100%; justify-content: space-between; border-bottom: 1px solid #F5F5F5; }
.group-info-item-name{font-weight: 500; font-size: 14px; line-height: 126%; text-align: justify; letter-spacing: -0.01em; color: #455A64; }
.group-info-item-value{font-weight: 500; font-size: 14px; line-height: 126%; text-align: justify; letter-spacing: -0.01em; color: #8C9AA1; }
.gr-group-text{color:#00EE57;}